/* 
    Document   : style
    Created on : Oct 9, 2015, 10:36:46 PM
    Author     : BILL
    Description:
        Purpose of the stylesheet follows.
*/
* {
    margin: 0px;
    padding: 0px;
}
.fg-pink{
    color: #fc0b2d;
}
root { 
    display: block;
}
.place_center{
    text-align: center;
}
body .container{
    background-image: url(assets/img/back_img.png);
}
.fg-black, .bg-black, .bg-hover-black{
    color: black;
}
.bg-gray, .fg-gray, .bg-hover-gray{
    color: gray;
}
.padding20{
    padding: 20px;
}

.fluid {
    padding: 10px;
}
h2 .icon-cog {
    
}
a{
    color: whitesmoke;
}
hr{
    color: gray;
}
.hero-unit p{
    color: whitesmoke;
}
h4{
    color: darkred;
}
.row-fluid .span3{
    padding:20px; ;background-color: darkgray; height: auto;
}

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }